<!-- import { Component } from '@angular/core';
import { Observable } from 'rxjs';
import { ApodResponse } from './apod-response'; -->
<!-- 
<div class="jumbotron">
  <h1 class="display-4">NASA Astronomy Image Viewer!</h1>
  <p class="lead">These beautiful images are provided by NASA free of charge.</p>
  <hr class="my-4">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="https://github.com/nasa/apod-api" role="button">APOD GITHUB</a>
  </p>
</div>
<div class="container"></div>
  <div class="row">
    <div class="col-md-12">
      <h2>Images</h2>
      <div *ngFor="let image of response$  | async " class="card mb-3">
        {{ image?.media_type === 'video' ? 'Video' : 'Image' }}
        {{ image?.url}}
        <img [src]="image?.url" class="card-img-top" alt="{{ image?.url }}"/>
        <div class="card-header">
          <h3>{{ image?.title }}</h3>
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ image?.title }}</h5>
          <p class="card-text">{{ image?.explanation }}</p>
          <p class="card-text"><small class="text-muted">
            Created {{ image?.date }}
            <span *ngIf="image?.copyright">&copy;{{ image?.copyright }}</span>
          </small></p>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <h2>Test Array</h2>
      <pre>{{ testArray }}</pre>
      <img [src]="testArray[0]?.url" class="card-img-top" alt="{{ testArray[0]?.title }}">
    </div> 
  </div> -->
  <!-- Display the response images (as an example) -->

<!-- 
<div *ngIf="response$ | async as response; else loading" class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of response" class="item mb-4">
      <div class="card">
        <img [src]="item.url" class="card-img-top" alt="{{ item.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.explanation }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

<!-- Debugging output: log the entire response object 
<div *ngIf="response$ | async as response">
  <pre>{{ response | json }}</pre>
</div>


<div *ngIf="response$ | async as response; else loading" class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let item of response" class="item mb-4">
      <div class="card">
        <img [src]="item.url" class="card-img-top" alt="{{ item.title }}">
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.explanation }}</p>
        </div>
      </div>
    </div>
  </div>
</div> -->

<!-- <ng-template #loading>
  <div class="d-flex justify-content-center">
    <div class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>

 Add a debugging block
<div *ngIf="response$ | async as response">
  <pre>{{ response }}</pre>  Display raw JSON response 
</div> -->

<div *ngIf="testArray?.length > 0" class="container">
  <h2>Test Array</h2>
  <div *ngFor="let item of testArray" class="card mb-3">
    <img [src]="item?.url" class="card-img-top" [alt]="item?.title">
    <div class="card-body">
      <h5 class="card-title">{{ item?.title }}</h5>
      <p class="card-text">{{ item?.explanation }}</p>
      <p class="card-text">
        <small class="text-muted">
          Created {{ item?.date }}
          <span *ngIf="item?.copyright">&copy;{{ item?.copyright }}</span>
        </small>
      </p>
    </div>
  </div>
  
</div>

<!-- Optionally, show the raw JSON for debugging -->
  <!-- <pre>{{ testArray[0]?.url }}</pre> -->

  <img [src]="testArray[0]?.url" class="card-img-top" [alt]="testArray[0]?.title">
    <img [src]="testArray[1]?.url" class="card-img-top" [alt]="testArray[1]?.title">